@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --inria: "Inria Sans", sans-serif;
  --inter: "Inter", sans-serif;
}

body {
  font-family: var(--inter);
  margin: 0px;
  transition: ease-out 0.6s;
}
nav {
  font-family: var(--inria);
  transition: ease-out 0.6s;
}
button:hover {
  cursor: pointer;
}
.nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #8147a7;
  align-items: center;
  /* div {
    display: flex;
  } */
}
.go {
  border: 1px solid transparent;
  padding: 25px;
  border-radius: 5px;
}
.Navi {
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
}
.Navi ul {
  font-weight: 800;
  font-size: larger;

  width: 100%;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: #8147a7;
}

/* NAV Ends */
/* Nav2 Starts*/
.Side {
  display: flex;
  background-color: transparent;
  border: 0px;
  justify-content: center;
  width: 50px;
  img {
    width: 50px;
  }
}
.SideBar {
  display: flex;
  flex-direction: column;
  button {
    margin: 0px;
    padding: 0;
    img {
      width: 100%;
    }
  }
}
.SideH ul {
  width: 100%;
  /* padding: 30px 50px; */
  margin: 0px;
  background-color: #8147a7;
  list-style: none;
  padding: 0px;

  li {
    /* padding: 40px; */
    border-radius: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
.SideH {
  width: 100%;
  color: white;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 50;
}
.SideH div:hover {
  cursor: pointer;
  background-color: #25023d9a;
}
.SideH div {
  padding: 30px;

  transition-duration: 10ms;
  transition: background-color 0.2s;
}
.Nav2 {
  width: 90%;
  margin-top: 20px;
  justify-content: space-between;
  img {
    display: flex;
    justify-content: center;
    width: 50px;
  }
  display: none;
}
/* Nav2 Ends */

@media (max-width: 700px) {
  /* .nav {
    display: none;
  } */
  .SideBar {
    display: flex !important;
  }
  .Navi {
    display: none;
  }
  .Nav2 {
    display: flex;
  }
  .BookMain h1 {
    font-size: xx-large;
  }
}
.dark-mode {
  background-color: #171717;
  transition: ease-out 0.6s;
}
.dark-mode nav {
  background-color: #171717;
}

#loader {
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.85);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #611991;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.profile-container:hover {
  cursor: pointer;
}

.popup {
  text-align: center;
  display: none;
  position: absolute;
  top: 110px; /* Adjust based on profile pic size */
  right: 10px;
  background-color: #f0e8f4;
  border-radius: 20px;
  padding: 40px;
  min-width: 280px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup img {
  width: 40%;
}

.popup button {
  width: 80%;
  font-weight: 600;
  color: #a075bd;
  padding: 15px;
  background-color: #f0e8f4;
  border: 2px solid #a075bd;
  border-radius: 50px;
}

.popup button:hover {
  cursor: pointer;
}

.theme-toggle,
.drop,
.drop-item {
  list-style: none;
  margin: 0;
}

.drop-item {
  padding: 10px;
  color: #611991;
}

.drop {
  display: none;
  margin-left: 5px;
  border: 1px solid #c0b9c4;
  width: 28%;
  background-color: #f0e8f4;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.theme-toggle:hover .drop {
  cursor: pointer;
}

#sun {
  border-bottom: 1px solid #c0b9c4;
}

#sun,
#moon {
  box-sizing: border-box;
}

.theme-container {
  display: flex;
  align-items: center;
  color: #611991;
}

#bi-circle-half {
  padding-left: 6px;
}
#bi-circle-half:hover + .drop,
.drop:hover {
  display: block;
}

