body {
  font-weight: 700;
  text-align: center;
}
h5,
h6 {
  margin: 10px 0;
}
h6 {
  color: #808080;
}

h2 {
  color: #611991;
}
h1,
h3,
h5 {
  color: black;
}
article {
  font-size: 19px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  margin: 50px 0;
  img {
    max-width: 170px;
    width: 100%;
    height: 320px;
  }
}
h1,
h2,
h3 {
  font-weight: bold;
}
section {
  font-size: 20px;
}
main div {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  button {
    font-size: 15px;
    width: 30%;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #611991;
  }
}
#Error_message {
  display: none;
  color: red;
}
