/* Header Starts */
h2 {
  color: #c8aed9;
}
header {
  text-align: center;
  color: #8147a7;
}

/* Search Start*/
.SearchCont {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.MainSearch {
  width: 80%;
  display: flex;
  justify-content: center;
}
.MainSearch input {
  font-size: medium;
  font-weight: 500;
  color: #611991;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  border: none;
  background-color: #fcf6f6;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.MainSearch input:focus-within {
  outline: none;
}
.MainSearch input::placeholder {
  color: #611991;
}
.Search:focus-within {
  border: 2px solid #8147a7;
  border-radius: 30px;
}

.Search button {
  margin: 0px;
  border: none;
  width: 100px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #fcf6f6;
}
.Search button:hover {
  cursor: pointer;
}
.Search {
  height: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
}
.FandS {
  display: flex;
  button {
    border: none;
    background-color: transparent;
    img {
      width: 80%;
    }
  }
}
/* Start Ends */

/* Header Ends */
/* Main Start */

/* h2 {
  margin-bottom: 20px;
} */
.container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
.book_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.book {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 321px;
  text-align: center;
  border-radius: 40px;
}

.book img {
  height: auto;
  border-radius: 5px;
  width: 195px;
  height: 320px;
}

.book h3 {
  font-size: 16px;
  margin: 10px 0;
}

.book p {
  color: #666;
  font-size: 14px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}

.borrowed {
  background-color: #611991b2;
  color: white;
}
.unavailable {
  background-color: #611991b2;
  color: white;
}
.borrow {
  background-color: #611991;
  color: white;
}

.details {
  display: block;
  margin-top: 5px;
  color: #f7a2f2;
  text-decoration: none;
  font-size: 18px;
}

.book_details {
  display: flex;
  gap: 45px;
  justify-content: center;
}
/* Main Ends */

/*  */
@media (max-width: 700px) {
  .BookMain h1 {
    font-size: xx-large;
  }
}

/*  */
select {
  padding: 10px;
  border: none;
  color: #611991;
  border-radius: 10px;
  margin: 0 20px;
  text-align: center;
}

select:focus-within {
  outline: none;
}
.filter {
  margin: 20px 0;
}
.pagination {
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
  button {
    background-color: #611991;
    color: white;
    padding: 15px;
    border-radius: 7px;
    min-width: 80px;
  }
}
#prevBtn {
  background-color: #611991b2;
}
.container {
  align-items: center;
  flex-direction: column;
}
