body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}
.Tcontainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
a{
  font-weight: 600;
  color: #353a3d;
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
input,
select,
button {
  width: 60%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  background-color: #6c767d;
  color: white;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #353a3d;
}
p {
  font-weight: bold;
}
.MainBar {
  display: flex;
  justify-content: center;
}