.borrow {
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.first_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.first_nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: center;
  font-size: 26.02px;
  align-items: center;
  text-align: center;
}

.first_img {
  padding-right: 72px;
}

.second_img {
  padding-left: 102px;
}

.user_header {
  color: #611991cc;
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: -32px;
}

.user_paragraph {
  font-style: italic;
  color: #61199166;
  font-size: 36px;
  margin-bottom: 80px;
}

.userrating_section {
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rating_segment {
  display: flex;
  justify-content: space-between;
  /* gap: 150px; */
  padding: 30px;
  background-color: white;
  height: 151px;
  width: 100%;
  align-items: center;
}

.rating_division {
  display: flex;
  margin-left: -30px;
}

.rating_comment {
  margin: 8px 0;
  font-weight: 600;
  font-size: 32px;
}

.rating_image {
  margin-right: 15px;
  margin-left: 20px;
}

.totalb_segment {
  display: flex;
  justify-content: space-between;
  /* gap: 150px; */
  padding: 30px;
  background-color: white;

  height: 151px;
  width: 100%;
  align-items: center;
}

.totalb_division {
  display: flex;
  margin-left: -30px;
}

.totalb_numbers {
  margin: 8px 0;
  font-weight: 600;
  font-size: 32px;
}

.totalb_image {
  margin-right: 15px;
  margin-left: 20px;
}

.totalr_segment {
  display: flex;
  justify-content: space-between;
  /* gap: 150px; */
  padding: 30px;
  background-color: white;
  height: 151px;
  width: 100%;
  align-items: center;
}

.totalr_division {
  display: flex;
  margin-left: -30px;
}

.totalr_numbers {
  margin: 8px 0;
  font-weight: 600;
  font-size: 32px;
}

.totalr_image {
  margin-right: 15px;
  margin-left: 20px;
}

.history_class {
  justify-content: center;
  margin-top: 100px;
}

.history_heading {
  font-size: 43px;
}

.history_heading2 {
  font-size: 20px;
  color: #611991;
}

.active_table {
  text-align: center;
  font-size: 80px;
  margin-top: 40px;
  border-collapse: collapse;
  width: 90vw;
}

.active_title {
  font-size: 14px;
  padding-left: 10px;
  color: #b5b7c0;
}
th,
td {
  padding: 40px;
  justify-content: center;
  margin-left: 5px;
  border-bottom: 1px solid #ddd;
}

.active_data1 {
  font-size: 14px;
}

.returned {
  background-color: #9eb3d8;
  font-size: 15px;
  color: #003898;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  width: 100px;
}

.due {
  font-size: 15px;
  background-color: #ffc5c5;
  color: #df0404;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  width: 100px;
}

.pending {
  font-size: 15px;
  background-color: #b695cc;
  color: #611991;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  width: 100px;
}

.late {
  font-size: 15px;
  background-color: rgb(243, 142, 9);
  color: #63322a;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  width: 100px;
}
/* My  code */
.Mainheader {
  font-family: var(--inria);
  font-weight: normal;
  font-style: italic;
  color: #d6c2e2;
  text-align: center;
}

.UserRating {
  display: flex;
  gap: 20px;

  width: 200px;

  padding: 20px;
  border-radius: 20px;

  button {
    color: black;
    background-color: transparent;
    border: none;
    font-weight: 600;
  }
  h1 {
    margin: 10px 0;
  }
  p {
    font-size: small;
    color: gray;
    margin: 0;
  }
}
.filling {
  height: 80px;
  width: 1px;
  background-color: #f0f0f0;
}
.Info {
  display: flex;
  flex-direction: column;
}

.MainInfo {
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 20px;
  gap: 20px;
  display: flex;

  justify-content: space-evenly;
}
button {
  border: none;
}
article {
  text-align: center;
  p {
    color: black;
  }
}
body {
  color: #333333;
}
@media (max-width: 700px) {
  .MainInfo {
    flex-direction: column;
  }
  .filling {
    display: none;
  }
}
section {
  margin-bottom: 50px;
}
input,
select {
  overflow: hidden;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: #245a7e17;
  background-image: none;
  font-size: 15px;
}
input::placeholder {
  color: black;
}
input:focus-within {
  outline: none;
}
.filters {
  display: flex;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}
#search_btn {
  border-radius: 15px;
  padding: 20px;
  background-color: #245a7e17;
  color: black;
}
.pagination {
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
  button {
    min-width: 80px;
    /* background-color: #611991; */
    color: white;
    padding: 15px;
    border-radius: 7px;
  }
}
.MainBar {
  width: 95% !important;
}
/* #prevBtn {
  background-color: #611991b2;
} */
